<%= provide :title, t ".about" %>
<h1><%= t ".home" %></h1>
<p>
  <%= t ".title1" %><a href="http://www.railstutorial.org/">
    <em><%= t".title2" %></em></a><%= t ".title3" %>
  <a href="http://www.railstutorial.org/book"><%= t ".title4" %></a><%= t ".title5" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".title6" %></a><%= t ".title7" %>
  <a href="http://rubyonrails.org/"><%= t ".title8" %></a>.
  <%= t ".title9" %>
</p>
