<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".help1" %>
  <%= link_to "Rails Tutorial help section.",
    "http://www.railstutorial.org/help"%>
  <%= t(".help2")%>
  <%= link_to "Ruby on Rails Tutorial",
    "http://www.railstutorial.org/book"%>
</p>
