<%= provide :title, t ".help" %>
<h1><%= t".help"%></h1>
<p>
  <%= t ".title1"%>
  <a href="http://www.railstutorial.org/help"></a>
  <a href="http://www.railstutorial.org/book">
    <em><%= t ".title4"%></em><%= t ".title5"%></a>.
</p>
