<% provide :title, t("layout.header.login") %>
<h1><%= t "layout.header.login" %></h1>
<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <%= form_for :session, url: login_path do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
        <span><%= t "session.remember" %></span>
      <% end %>

      <%= f.submit t("layout.header.login"), class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to t("session.new"), signup_path %></p>
    <%= link_to t("pass_reset.new.title"), new_password_reset_path %>
  </div>
</div>
