<h1><%= t "pass_reset.edit.title" %></h1>

<p><%= t "pass_reset.mailer.message1" %></p>

<%= link_to t("pass_reset.edit.title"),
  edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p><%= t "pass_reset.mailer.message2" %></p>

<p>
<%= t "pass_reset.mailer.message3" %>
</p>
