<footer class="footer">
  <small>
    <%= t ".title1" %><a href="http://www.railstutorial.org/"><%= t".title2" %></a>
    <%= t ".title3" %><a href="http://www.michaelhartl.com/"><%= t".title4" %></a>><%= t ".login" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t ".about", about_path %></li>
      <li><%= link_to t ".contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".title5" %></a></li>
    </ul>
  </nav>
</footer>
